
{% for item in menu %}
    <li {% if item.submenu %}class="has-dropdown"{% endif %}>
        <a href="{{ item.path }}">{{ item.label }}{{ item.submenu }}</a>

        {% if item.submenu %}

            <ul class="dropdown">
                {% for submenu in item.submenu %}
                    <li><a href="{{ submenu.link }}">{{ submenu.label }}</a></li>
                {% endfor %}
            </ul>

        {% endif %}
    </li>
{% endfor %}
