{% extends 'master.twig' %}

{% block content %}

<header>
    <div class="inner">
        <h2>{{ record.title }}</h2>
        <p>{{ record.teaser }}</p>
    </div>
</header>

<!-- Content -->
    <div class="wrapper">
        <div class="inner">

               {% if record.image is not empty %}
                <span class="image" style="padding-left: 40%">
                      <img src="{{ thumbnail(record.image, 320, 320, fit='c') }}" class="square" height="320" style="max-height: 320">
                </span>
            {% endif %}

            {{ record.body }}
            {% if record.gallery is not empty %}
            <section class="features">
                {% for image in record.gallery %}
                    <article>
                        <a class="image" href="{{ image }}"><img src="{{ image|thumbnail(572, 333) }}" alt="" /></a>
                        <h3 class="major">{{ image.alt }}</h3>
                    </article>
                {% endfor %}
            </section>
            {% endif %}

            {% if record|related is not empty %}
            {% set related_page = record|related|first %}
	        <!-- Footer -->
       		<section class="features">
                	<div class="inner">
                        	<ul class="actions">
                                	<li><a href="/pages/{{ related_page.slug }}" class="button primary">Retour à la page {% if related_page.retour is not empty %}{{ related_page.retour }}{% else %}précédente{% endif %}</a></li>
	                        </ul>
        	                <ul class="contact">
                	                <li><a href="/" class="button primary">Retour à l'accueil</a></li>
                        	</ul>
	                </div>
        	</section>
            {% endif %}
        </div>
    </div>


{% endblock content %}
