{% extends 'master.twig' %}

{% block headerClass %}class="alt"{% endblock headerClass %}

{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><img class=icon alt="{{ config.get('general/sitename') -}}" src="{{ asset('images/logo.svg' , 'theme')}}"/></span></div>
            <h2>{{ config.get('general/sitename') -}}</h2>
            <p>{{ config.get('general/payoff') }}</p>
        </div>
    </section>
{% endblock banner %}

{% block content %}

    {% setcontent lastThreePages = 'pages' earliest limit 3 %}
    {% for page in lastThreePages %}
        <!-- Loop {{ loop.index }} -->
        <section id="{% if loop.first %}one{% elseif loop.index == 2 %}two{% else %}three{% endif %}"
                 class="wrapper {% if loop.index % 2 == 0%}alt {% endif %}spotlight style{{ loop.index }}">
                <div class="inner">
                    {% if page.image is not empty %}
                    <a href="{{ page.image }}" class="magnific image">
                      <img src="{{ thumbnail(page.image, 276, 276) }}" width="276" height="276">
                    </a>
                    {% endif %}
                    <div class="content">
                        <h2 class="major"><a href="{{ page|link }}">{{ page.title }}</a></h2>
                        <p>{{ page.teaser }}</p>
                        <a href="{{ page|link }}" class="special">Par ici</a>
                    </div>
                    </div>

            </section>

    {% endfor %}
{#
    {% setcontent page = 'page/les-actions-du-club' %}
    <!-- Four -->
        <section id="four" class="wrapper alt style1">
          <div class="inner">
            <h2 class="major"><a href="{{ page|link }}">{{ page.title }}</a></h2>
                <p>{{ page.teaser }}</p>
                <section class="features">
                    {% for entry in page|related %}
                        <article>
                            <a class="image"><img src="{{ entry.image|thumbnail(572, 333, "c") }}" alt="" /></a>
                            <h3 class="major">{{ entry.title }}</h3>
                            <p>{{ entry.teaser }}</p>
                            <a href="{{ entry|link }}" class="special">Par ici</a>
                        </article>
                    {% endfor %}

                </section>
                <ul class="actions">
                    <li><a href="/pages" class="button">Tout voir...</a></li>
                </ul>
            </div>
            </section>
            #}
{% endblock content %}
