{% extends 'master.twig' %}

{% block headerClass %}class="alt"{% endblock headerClass %}

{% block banner %}
<!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><img class=icon alt="{{ config.get('general/sitename') -}}" src="{{ asset('images/logo.svg' , 'theme')}}"/></span></div>
            <h2>{{ config.get('general/sitename') -}}</h2>
            <p>{{ config.get('general/payoff') }}</p>
        </div>
    </section>
{% endblock banner %}

{% block content %}

    {% setcontent lastThreePages = 'pages' earliest limit 3 %}
    {% for page in lastThreePages %}

        {% if loop.first %}

        <!-- One -->
            <section id="one" class="wrapper spotlight style1">
                <div class="inner">
                    {% if page.image is not empty %}
                        {{ page.image|popup(276, 276, "r") }}
                    {% endif %}
                    <div class="content">
                        <h2 class="major">{{ page.title }}</h2>
                        <p>{{ page.teaser }}</p>
                        <a href="{{ page.link }}" class="special">Par ici</a>
                    </div>
                </div>
            </section>

        {% elseif loop.last %}

        <!-- Three -->
            <section id="three" class="wrapper spotlight style3">
                <div class="inner">
                    {% if page.image is not empty %}
                        {{ page.image|popup(276, 276, "r") }}
                    {% endif %}
                    <div class="content">
                        <h2 class="major">{{ page.title }}</h2>
                        <p>{{ page.teaser }}</p>
                        <a href="{{ page.link }}" class="special">Par ici</a>
                    </div>
                </div>
            </section>

        {% else %}

        <!-- Two -->
            <section id="two" class="wrapper alt spotlight style2">
                <div class="inner">
                    {% if page.image is not empty %}
                        {{ page.image|popup(276, 276, "r") }}
                    {% endif %}
                    <div class="content">
                        <h2 class="major">{{ page.title }}</h2>
                        <p>{{ page.teaser }}</p>
                        <a href="{{ page.link }}" class="special">Par ici</a>
                    </div>
                </div>
            </section>

        {% endif %}

    {% endfor %}

    {% setcontent bottom = 'page/les-actions-du-club' %}
    <!-- Four -->
        <section id="four" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">{{ bottom.title }}</h2>
                <p>{{ bottom.teaser }}</p>
                <section class="features">
                    
                    {% for item in bottom.related() %}
                        <article>
                            <a class="image"><img src="{{ item.image|thumbnail(572, 333, "c") }}" alt="" /></a>
                            <h3 class="major">{{ item.title }}</h3>
                            <p>{{ item.teaser }}</p>
                            <a href="{{ item.link }}" class="special">Par ici</a>
                        </article>
                    {% endfor %}

                </section>
                <ul class="actions">
                    <li><a href="/pages" class="button">Tout voir</a></li>
                </ul>
            </div>
        </section>

{% endblock content %}
