{% extends 'master.twig' %}

{% block content %}

{% if record.image is not empty %}
<style>
  @media screen and (max-width: 4000px) {
    #wrapper > header {
      background-image: linear-gradient(to top, rgba(46, 49, 65, 0.6), rgba(46, 49, 65, 0.6)), url("{{ record.image }}");
    }
  }
</style>
{% endif %}

<header>
    <div class="inner">
        <h2>{{ record.title }}</h2>
        <p>{{ record.teaser }}</p>
    </div>
</header>

<!-- Content -->
    <div class="wrapper">
        <div class="inner">
            {{ record.body }}

            {% set related_entries = record|related %}
            {% if related_entries is not empty %}
            <section class="features">
                {% for entry in page|related %}
                        <article>
                            <a class="image"><img src="{{ entry.image|thumbnail(572, 333, "c") }}" alt="" /></a>
                            <h3 class="major">{{ entry.title }}</h3>
                            <p>{{ entry.teaser }}</p>
                            <a href="{{ entry|link }}" class="special">Par ici</a>
                        </article>
                    {% endfor %}
            </section>
            {% endif %}

        </div>
    </div>

{% endblock content %}
