{% extends 'master.twig' %}

{% block content %}

<header>
    <div class="inner">
        <h2>{{ record.title }}</h2>
        <p>{{ record.teaser }}</p>
    </div>
</header>

<!-- Content -->
    <div class="wrapper">
        <div class="inner">

            {% if record.image is not empty %}
                <span class="image" style="padding-left: 40%">
                      <img src="{{ thumbnail(record.image, 320, 320) }}" class="square" height="320" style="max-height: 320">
                </span>
            {% endif %}

            {{ record.body }}

            {% set related_entries = record|related %}
            {% if related_entries is not empty %}
            <section class="features">
                {% for entry in page|related %}
                        <article>
                            <a class="image"><img src="{{ entry.image|thumbnail(572, 333, "c") }}" alt="" /></a>
                            <h3 class="major">{{ entry.title }}</h3>
                            <p>{{ entry.teaser }}</p>
                            <a href="{{ entry|link }}" class="special">Par ici</a>
                        </article>
                    {% endfor %}
            </section>
            {% endif %}

        </div>
    </div>

{% endblock content %}
