{% extends 'master.twig' %}

{% block content %}

<header>
    <div class="inner">
        <h2>{{ record.title }}</h2>
        <p>{{ record.teaser }}</p>
    </div>
</header>

<!-- Content -->
    <div class="wrapper">
        <div class="inner">

            {% if record.image is not empty %}
                <span class="image fit">
                    <img src="{{ record.image|image }}">
                </span>
            {% endif %}

            {{ record.body }}

            {% set related_entries = record.related() %}
            {% if related_entries is not empty %}
            <section class="features">
                {% for entry in related_entries %}
                    <article>
                        <a class="image"><img src="{{ entry.image|image }}" alt="" /></a>
                        <h3 class="major">{{ entry.title }}</h3>
                        <p>{{ entry.teaser|excerpt(200) }}</p>
                        <a href="{{ entry.link }}" class="special">Par ici</a>
                    </article>
                {% endfor %}
            </section>
            {% endif %}

        </div>
    </div>

{% endblock content %}
